@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker__today-button {
  margin-top: 10px;
  padding: 6px 12px;
  background-color: #e6f2f4;
  color: #0d3c44;
  border-radius: 6px;
}

/* .react-datepicker__close-icon {
  right: 10px !important;
  background-color: white !important;
  color:  #0d3c44!important;
} */
.react-datepicker__close-icon::after {
  background-color: #0d3c44 !important; /* Your dark teal */
  color: white !important;
  width: 22px;
  height: 20px;
  font-size: 14px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  content: "×";
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

/* *,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #000;
  overflow-x: hidden;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 5%;
  background: radial-gradient(circle at top right, #7856ac, transparent);
  filter: blur(30px);
  z-index: -1;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.membership-form-container {
  background-color: #1e1e1e;
  color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.form-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.error-message {
  color: #ff4d4d;
  font-size: 1rem;
  font-weight: bold;
}

.loading-message {
  color: #cccccc;
  font-size: 1rem;
}

.membership-form-iframe {
  width: 100%;
  height: 600px;
  border: none;
  background-color: white;
  border-radius: 5px;
} */
